[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = CupricWolf
	email = marcello.s.nicoletti@gmail.com
[core]
	excludesfile = /Users/Marco/.gitignore_global
  pager = less -F -X