[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = LSmith-Zenoscave
	email =  lsmith@zenoscave.com
[core]
	excludesfile = /home/lsmith/.gitignore_global
  pager = less -F -X
