[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = RyanFlageolle
	email =  rflageol@msudenver.edu
[core]
	excludesfile = /home/ryanflageolle/.gitignore_global
  pager = less -F -X
